<div class="container">
<a routerLink="addCoupon" class="btn btn-primary active" role="button" routerLinkActive="active">Create Coupon</a>
<a routerLink="addMerchant" class="btn btn-primary active" role="button" routerLinkActive="active">Add Merchant</a>
<a routerLink="showCouponsForAdmin" class="btn btn-primary active" role="button" routerLinkActive="active">Show Coupons For Admin</a>
<a routerLink="showCouponsForCustomer" class="btn btn-primary active" role="button" routerLinkActive="active">Show Coupons For Customer</a>
<a routerLink="showMerchant" class="btn btn-primary active" role="button" routerLinkActive="active">Show Merchants</a>
<a routerLink="regMerchant" class="btn btn-primary active" role="button" routerLinkActive="active">Register Merchants</a>

</div>  
<router-outlet></router-outlet>

